<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.needfor.stockoverlay">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StockOverlay">
        <service
            android:name="View.Service.OverlayService"
            android:enabled="true"
            android:permission="android.permission.SYSTEM_ALERT_WINDOW"
            android:configChanges="orientation|keyboardHidden|screenSize"
            tools:ignore="WrongManifestParent">
        </service>

        <activity android:name=".StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="View.LoginActivity"/>
        <activity
            android:name="View.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity
            android:name="View.SearchActivity"
            android:parentActivityName="View.MainActivity"/>
    </application>

</manifest>